<!-- MAIN CONTENT -->

<div class="main">
    <%- include("partials/header") %>

        <div class="main-content">
            <div class="row">
                <% dashboardStats.forEach(stat=> { %>
                    <div class="col-3 col-md-6 col-sm-12">
                        <div class="box box-hover">
                            <div class="counter">
                                <div class="counter-title">
                                    <%= stat.title %>
                                </div>
                                <div class="counter-info">
                                    <div class="counter-count">
                                        <%= stat.value %>
                                    </div>
                                    <i class='bx <%= stat.icon %>'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="row">

                <!-- PRODUCTOS PRINCIPALES -->
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box dashcard-div">
                        <div class="dashboard-card-header">
                            Productos principales
                        </div>
                        <div class="box-body">
                            <ul id="product-list" class="product-list">
                                <% if (products && products.length> 0) { %>
                                    <% products.forEach(product=> { %>
                                        <li class="product-list-item">
                                            <div class="item-info">
                                                <img src="<%= product.image %>" alt="imagen del producto">
                                                <div class="item-name">
                                                    <div class="product-name">
                                                        <%= product.name %>
                                                    </div>
                                                    <div class="text-second">
                                                        <%= product.category %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-sale-info">
                                                <div class="text-second">Ventas</div>
                                                <div class="product-sales">
                                                    <%= product.sales %>
                                                </div>
                                            </div>
                                        </li>
                                        <% }) %>
                                            <% } else { %>
                                                <li>No hay productos para mostrar</li>
                                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- ÓRDENES RECIENTES -->
                <div class="col-9 col-md-6 col-sm-12">
                    <div class="box dashcard-div">
                        <div class="dashboard-card-header">Órdenes recientes</div>
                        <div class="dashboard-card-body f-height">
                            <% if (orderTickets && orderTickets.length> 0) { %>
                                <% orderTickets.forEach(order=> { %>
                                    <div class="order-ticket">
                                        <div class="order-info">
                                            <div class="order-number">Pedido #<%= order.id %>
                                            </div>
                                            <div class="order-client">
                                                <%= order.client %>
                                            </div>
                                            <div class="order-date">
                                                <%= new Date(order.date).toLocaleDateString() %>
                                            </div>
                                        </div>
                                        <div class="order-details">
                                            <div class="product-name">
                                                <%= order.product %>
                                            </div>
                                            <div class="product-quantity">Cantidad: <%= order.quantity %>
                                            </div>
                                            <div class="product-price">Precio unitario: <%= order.price %>
                                            </div>
                                            <div class="order-total">Total: <%= order.total %>
                                            </div>
                                            <div class="order-status">
                                                Estado:
                                                <span class="status">
                                                    <%= order.status %>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <p>No hay órdenes recientes</p>
                                            <% } %>
                        </div>
                    </div>
                </div>


                <!-- TABLA -->
                <div class="col-12">
                    <div class="box">
                        <div class="box-header">
                            pedidos recientes
                        </div>
                        <div class="box-body overflow-scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Cliente</th>
                                        <th>Fecha</th>
                                        <th>Estado del pedido</th>
                                        <th>Estado del pago</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (recentOrdersTable && recentOrdersTable.length> 0) { %>
                                        <% recentOrdersTable.forEach(order=> { %>
                                            <tr>
                                                <td>#<%= order.id %>
                                                </td>
                                                <td>
                                                    <div class="order-owner">
                                                        <span>
                                                            <%= order.client %>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%= new Date(order.date).toLocaleDateString() %>
                                                </td>
                                                <td>
                                                    <span
                                                        class="order-status 
                                                    <%= order.orderStatus === 'completed' ? 'order-ready' : 'order-shipped' %>">
                                                        <%= order.orderStatus %>
                                                    </span>
                                                </td>
                                                <td>
                                                    <div
                                                        class="payment-status 
                                                    <%= order.paymentStatus === 'paid' ? 'payment-paid' : 'payment-pending' %>">
                                                        <div class="dot"></div>
                                                        <span>
                                                            <%= order.paymentStatus==='paid' ? 'Pagado' : 'Pendiente' %>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%= order.total %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6">No hay pedidos recientes</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>

<div class="overlay"></div>